@import 'materialize/materialize';

@mixin profile-picture($width: 125px, $height: 125px) {
  width: $width;
  height: $height;
  object-fit: cover;
  display: block;
  border-radius: 100%;
  border: 4px solid color('green', 'lighten-2');
}

.margin-center {
  margin: 0 auto;
}

.sidenav-overlay {
  z-index: 996 !important;
}
