.input-row {
  margin-bottom: 0;
  padding-bottom: 0;
}
.input-row .col {
  margin-bottom: 0;
  padding-bottom: 0;
}
.input-row .col input {
  margin-bottom: 0;
  padding-bottom: 0;
}

.register-button {
  width: 100%;
  margin-top: 20px;
}
